.toolbar {
  height: 20px;
  font-size: 20px;
}

.drawer_option {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.drawer_header_title {
  margin-right: 10px !important;
  font-weight: bold;
}
