@import "../src/components/ConfigurationScreen/ConfigurationScreen.scss";
@import "../src/components/LayoutsScreen/LayoutsScreen.scss";
@import "../src/components/Shared/GridItem/GridItem.scss";
@import "../src/components/AppDrawer/AppDrawer.scss";

// CSS Variables
:root {
  --bg-color-light: #f7f7f7;
  --bg-color-dark: #222222;
  --text-color-light: #f7f7f7;
  --text-color-dark: #222222;
  --bg-color: var(--bg-color-dark, --bg-color-light);
  --yellow: #ffcc5c;
  --red: #c94c4c;
  --purple: #4040a1;
  --blue: #f3e2c6;
  --green: #588c7e;
  --beige: #fef8dd;
  --grey: #e0e2e4;
  --brown: #674d3c;
  --magenta: #622569;
  --pink: #e4d1d1;
  --orange: #ff7b25;
}

body {
  font-family: "B612", sans-serif;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
  a {
    color: #fff;
    &:hover {
      color: #efc88b;
    }
  }
}
